.input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
}

.submit {
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  background-color: dodgerblue;
  color: #fff;
  letter-spacing: 0.063rem;
  cursor: pointer;
  font-family: inherit;
}
